<div class="left-nav">
	<h2>Your Account</h2>
	
	<ul>
		<li><%= link_to "Account Info", user_path(@user) %></li>
		<li><a href="#">Your Orders</a></li>
		<li><a href="#">Credits</a></li>
	</ul>
</div><!-- end left-nav -->