<div id="shopping-cart">
<div class="row">

<div class="span12">

<h1>Shopping Cart</h1>
<table class="table table-bordered table-striped">
<thead>
  <tr>
	<th>Add/Remove</th>
	<th>Image</th>
	<th>Product Name</th>
	<th>Quantity</th>
	<th>Unit Price</th>
	<th>Total</th>
  </tr>
</thead>
<tbody>

  <%= render (@cart.line_items) %>  
  
  <tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td><strong><%= number_to_currency(@cart.total_price) %></strong></td>
  </tr>		  
</tbody>
</table>
		  


<fieldset>
  <div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">

      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h3>Apply discount code</h3>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="control-group">
          <label for="input01" class="control-label">Discount code: </label>
          <div class="controls">
            <input type="text" id="input01" class="input-xlarge" placeholder="Enter your coupon here">
            <p class="help-block">You can only use one discount code at a time</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				<h3>Use gift voucher</h3>
      </a>
    </div>
		<div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="control-group">
	        <label for="input01" class="control-label">Gift voucher: </label>
	        <div class="controls">
	          <input type="text" id="input01" class="input-xlarge" placeholder="Enter your gift voucher here">
	          <p class="help-block">You can use multiple gift vouchers at a time</p>
	        </div>
	      </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="span5">
      <button class="btn btn-primary" type="submit">Update</button>
</div>		  
<div class="span5">
    <%= button_to "Continue shopping", store_url, class: "btn btn-primary" %>
</div>		  
<div class="span2">
    <%= button_to "Checkout", new_order_path, method: :get, class: "btn btn-primary" %>
</div>
</div>
  </fieldset>

</div>
</div>
</div>
