<%= provide(:title, 'Shopping Cart') %>
<div class="row">
<div class="span4">
<ul class="breadcrumb">
	<li>
  <a href="#">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">
  <a href="#">Shopping Cart</a>
  </li>
</ul>
</div>
</div>

<%= render 'cart' %>
		  

